# BUSI650

### ASSIGNMENT 1

Part 1

In [3]:
import pandas
# Get the path to the CSV file
#csv_file_path = '/content/Vehicle_data.csv'
data=pandas.read_csv("/content/sample_data/BUSI650/Vehicle_data.csv")
print(data)

      Unnamed: 0 TRIP_SERVICE_TYPE_CODE VEHICLE_ASSIGNMENT_DATETIME  \
0              1                   TAXI             2022-07-26 0:54
1              2                    TNS            2022-01-13 14:13
2              3                    TNS             2021-10-13 3:46
3              4                    TNS             2021-12-05 9:17
4              5                    TNS            2020-09-08 13:14
...          ...                    ...                         ...
1995        1996                    TNS            2021-09-17 13:21
1996        1997                    TNS             2020-03-21 4:50
1997        1998                    TNS            2022-03-26 16:39
1998        1999                   TAXI            2020-11-20 21:54
1999        2000                    TNS             2022-05-03 7:00

     VEHICLE_ASSIGNMENT_AREA  TOTAL_FARE_AMOUNT  TIME_GAP_MIN
0                     ZONE 4              21.60             8
1                     ZONE 1              33.65             7
2                     ZONE 1              14.57             5
3                     ZONE 1              12.12             2
4                     ZONE 1              17.40             8
...                      ...                ...           ...
1995                  ZONE 1              55.24             7
1996                  ZONE 1               3.52             0
1997                  ZONE 1               8.27             5
1998                  ZONE 1               7.95             4
1999                  ZONE 1              36.09             9

[2000 rows x 6 columns]

# QUESTION ONE

### a. What is the shape of the data?

In [4]:

# A
# Get the shape of the dataframe
shape = data.shape
# Print the shape of the dataframe
print(shape)

(2000, 6)

### b. List the columns in the data.

In [5]:
#B
# Get the list of columns
columns = data.columns

# Print the list of columns
print(columns)

Index(['Unnamed: 0', 'TRIP_SERVICE_TYPE_CODE', 'VEHICLE_ASSIGNMENT_DATETIME',
       'VEHICLE_ASSIGNMENT_AREA', 'TOTAL_FARE_AMOUNT', 'TIME_GAP_MIN'],
      dtype='object')

### c. Use python code to summarize the data by showing the details such as Mean, Median etc. of
the columns.

In [6]:
#C
# Print the summary of the dataframe
print(data.describe())

        Unnamed: 0  TOTAL_FARE_AMOUNT  TIME_GAP_MIN
count  2000.000000        2000.000000    2000.00000
mean   1000.500000          17.452645       6.89100
std     577.494589          12.583577       5.34129
min       1.000000           3.110000       0.00000
25%     500.750000           9.577500       3.00000
50%    1000.500000          13.800000       6.00000
75%    1500.250000          20.755000       9.00000
max    2000.000000         123.900000      46.00000

### d. List the quantitative and qualitative variables in the data set.

In [7]:
#D
# Identify the quantitative variables
quantitative_variables = [column for column in data.columns if data[column].dtype in ['float', 'int']]

# Identify the qualitative variables
qualitative_variables = [column for column in data.columns if data[column].dtype == 'object']

print('Quantitative variables:', quantitative_variables)
print('Qualitative variables:', qualitative_variables)

Quantitative variables: ['Unnamed: 0', 'TOTAL_FARE_AMOUNT', 'TIME_GAP_MIN']
Qualitative variables: ['TRIP_SERVICE_TYPE_CODE', 'VEHICLE_ASSIGNMENT_DATETIME', 'VEHICLE_ASSIGNMENT_AREA']

### e. Provide the details regarding the data type of the variables.

In [8]:
#E
# Check the data types of the columns in the dataframe
print(data.dtypes)

Unnamed: 0                       int64
TRIP_SERVICE_TYPE_CODE          object
VEHICLE_ASSIGNMENT_DATETIME     object
VEHICLE_ASSIGNMENT_AREA         object
TOTAL_FARE_AMOUNT              float64
TIME_GAP_MIN                     int64
dtype: object

## QUESTION TWO

###  Take the column “TIME_GAP_MIN” from the above data set, convert it into python set.
Divide each element in the set by 5 using the iteration through “for loop” and save the remainder in new
list named as “rem”

In [9]:
# Get the TIME_GAP_MIN column as a set
time_gap_min_set = set(data['TIME_GAP_MIN'])

# Create a new list to store the remainders
rem = []

# Iterate through the time_gap_min_set and divide each element by 5
for time_gap_min in time_gap_min_set:
    rem.append(time_gap_min % 5)

print(rem)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 1, 3, 2, 4, 1]

https://colab.research.google.com/drive/1TnHma-uWNYrvy7XsauJLX4NOj-C4K_M_#scrollTo=BK60Mfyqfefg